.image-stack {
  position: relative;
  width: 120px;
  height: 140px;
  flex-shrink: 0;
  margin-right: 25px;
}

.stack-img {
  position: absolute;
  inset: 0;
  width: 120px;
  height: 140px;

  object-fit: contain;
  object-position: center;

  transition: opacity 0.35s ease-in-out;
}

.stack-img.visible {
  opacity: 1;
  visibility: visible;
}

.stack-img.hidden {
  opacity: 0;
  visibility: hidden;
}